# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/application/target/
/Engine/target/
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-bootstrap.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/userdir/var/cache/lastModified/all-checksum.txt
application/target/surefire-reports/dk.sdu.g3.scuffedtd.ApplicationTest.txt
application/target/surefire-reports/TEST-dk.sdu.g3.scuffedtd.ApplicationTest.xml
application/target/userdir/var/cache/lastModified/all-checksum.txt
application/target/surefire-reports/dk.sdu.g3.scuffedtd.ApplicationTest.txt
application/target/surefire-reports/dk.sdu.g3.scuffedtd.ApplicationTest.txt
application/target/surefire-reports/TEST-dk.sdu.g3.scuffedtd.ApplicationTest.xml
/Common/target/
/Map/target/
/Pathfinding/Pathfinding/target/
/Tower/target/
/Unit/target/
/Player/target/
application/target/surefire-reports/TEST-dk.sdu.g3.scuffedtd.ApplicationTest.xml
application/target/surefire-reports/dk.sdu.g3.scuffedtd.ApplicationTest.txt
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-bootstrap.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
/Enemy/target/
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-bootstrap.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/surefire-reports/dk.sdu.g3.scuffedtd.ApplicationTest.txt
application/target/surefire-reports/TEST-dk.sdu.g3.scuffedtd.ApplicationTest.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-bootstrap.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup-base.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-core-startup.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-libs-asm.xml
application/target/scuffedtd/platform/update_tracking/org-openide-filesystems.xml
application/target/scuffedtd/platform/update_tracking/org-openide-modules.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-lookup.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util-ui.xml
application/target/scuffedtd/platform/update_tracking/org-openide-util.xml
application/target/scuffedtd/platform/update_tracking/org-netbeans-api-annotations-common.xml
/Unit/nbproject/